@import "variables";

// ==================================================
// mq-1350px
// ==================================================
@media screen and (min-width: 1350px) {
	.page-container {
		max-width: 1350px;
	}
}

// ==================================================
// mq-1280px
// ==================================================
@media screen and (max-width: 1280px) {
	.work-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.work-item {
		background-color: lighten($col1-med, 20);
		padding: 0;
		margin: 10px;
		box-shadow: -5px 5px 0 $col1-med;
		width: 45%;
		flex-direction: column;
	}

	.work-image,
	.work-text {
		padding: 10px;
	}

	.work-image {
		width: 100%;
	}

	.work-text {
		width: 100%;

		h4 {
			@include font-size(24);
		}
	}

	.work-desc {
		padding: 20px 0;
	}
}

// ==================================================
// mq-1060px
// ==================================================
@media screen and (max-width: 1060px) {
	.page-content {
		padding: 0 60px;
		margin: 0 auto;
		width: 100%;
	}

	#toggle-menu {
		display: block;
	}

	.nav-sidebar {
		position: relative;
		right: 100%;
		z-index: 10;
		transition: all 0.3s;

		&.menu-toggle {
			height: 100vh;
			right: 0;
		}
	}

	.site-logo {
		height: 86px;
		@include font-size(75);
	}

	.first-initial {
		left: 80px;
	}

	.last-initial {
		left: 122px;
	}
}

// ==================================================
// mq-950px
// ==================================================
@media screen and (max-width: 950px) {

}

// ==================================================
// mq-850px
// ==================================================
@media screen and (max-width: 850px) {
	.work-item {
		width: 100%;
	}
}

// ==================================================
// mq-800px
// ==================================================
@media screen and (max-width: 800px) {
	.contact-form {
		width: 100%;
	}

	.label-input-group {
		label {
			padding: 0 0 10px 0;
			width: auto;
			display: block;
			text-align: left;
		}

		input,
		textarea {
			width: 100%;
			max-width: 100%;
		}

	}
	
	input[type=submit] {
		right: 0;
	}
}

// ==================================================
// mq-780px
// ==================================================
@media screen and (max-width: 780px) {
	#about {
		height: auto;
	}

	.about-content {
		flex-direction: column;

		div {
			margin: 0 auto;
		}

		img {
			margin: 0 auto 25px auto;
		}
	}

	#skills {
		h2 {
			margin-bottom: 50px;
		}
	}

	.skill {
		margin-bottom: 20px;
	}

	.skill-icon {
		width: 50px;
	}

	.skill-text {
		visibility: hidden;
	}
}
// ==================================================
// mq-720px
// ==================================================
@media screen and (max-width: 720px) {
	.name-occupation {
		height: 300px;

		h3 {
			@include font-size(28);
			top: 260px;
		}
	}

	h1 {
		@include font-size(100);
	}

	.last-name {
		padding: 0 0 0 10px;
		top: 105px;
		left: 52px;
	}

	h2 {
		margin-bottom: 25px;
	}


	#toggle-labels {
		margin: 30px 0 30px 30px;
	}

	#contact {
		p {
			margin: 30px 0;
		}
	}
}

// ==================================================
// mq-550px
// ==================================================
@media screen and (max-width: 550px) {
	.page-content {
		padding: 0 20px 0 50px;
	}

	.page-section {
		padding: 25px 0;
	}

	#skills {
		height: auto;
	}

	.skill {
		width: 50%;
	}
	
	#contact {
		height: auto;
	}

}

// ==================================================
// mq-520px
// ==================================================
@media screen and (max-width: 520px) {
	.name-occupation {
		height: 200px;

		h3 {
			font-size: 2.4rem;
			text-align: right;
			top: 140px;
		}
	}
	
	h1 {
		@include font-size(50);
		text-shadow: 1px 1px 0 $col3;
	}

	.last-name {
		border-bottom: 5px solid #79d2ff;
		border-left: 5px solid #79d2ff;
		box-shadow: -5px 5px 0 #46c1ff;
		line-height: 60px;
		top: 55px;
		left: 22px; 
	}

}

// ==================================================
// mq-400px
// ==================================================
@media screen and (max-width: 400px) {
	.nav-sidebar {
		> div {
			border-right: none;
			width: 100%;
		}
	}

	.first-initial {
		left: calc(65% - 100px);
	}

	.last-initial {
		left: calc(76% - 100px);
	}

	.nav-main {
		ul {
			margin: 0 auto;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: fit-content;
			text-align: center;
		}
	}

	h2 {
		padding: 0 10px 2px 10px;
		@include font-size(36)
	}

	.work-item {
		margin: 10px 0;
	}

	.work-desc {
		@include font-size(14);

		a {
			@include font-size(14);
		}
	}

	.work-links {
		a {
			padding: 2px;
			@include font-size(14);
		}

		a:nth-of-type(1) {
			margin-right: 5px;
		}
	}
}