#portfolio {
	// background-color: $col-accent;

	.container {
		max-width: 790px;
	}
}

.portfolio-pieces {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-piece.featured-piece {

}
.portfolio-piece {
	width: 100%;
	margin-bottom: 150px;
	position: relative;

	img {
		max-width: 500px;
	}
}
.overlay {
	// Colour
	background-color: $col-dark;
	color: $col-light;
	// Content, Padding, Border, Margin	
	// width: 60%;
	padding: 20px;
	// Positioning
	position: absolute;
	bottom: -30%;
	left: 40%;
	// Transform, Transition
	transform: skew(-10deg);

	> div {
		transform: skew(10deg);
	}
	
	h3 {
		// Font, Typography
		font-size: 1.6rem;
		font-weight: normal;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
	}

	.pp-type {
		margin: 10px 0 20px 0;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		// Colour
		background-color: $col-light;
		color: $col-dark;
		// Content, Padding, Border, Margin
		padding: 7px;
		margin: 5px;
		// Display
		display: inline-block;
		text-transform: uppercase;
		// Font, Typography
		font-size: 0.75rem;
	}
}