// Leighton Beach color theme
// https://color.adobe.com/Leighton-Beach-color-theme-7748230/
$col1-dark: rgb(21, 51, 81);       // #153351 // dark-blue
$col1-med: rgb(74, 187, 199);      // #4abbc7 // med-blue
$col2-light: rgb(255, 255, 255);   // #ffffff // full-white
$col2-med: rgb(252, 216, 157);     // #fcd89d // med-tan
$col3: rgb(187, 194, 196);         // #bbc2c4 // light-grey
$col4: rgb(41, 41, 41); 		   // #292929 // off-black

@mixin font-size($fsValue: 0.625) {
  font-size: $fsValue + px;
  font-size: ($fsValue / 10) + rem;
}