// Colour palette
// http://www.colourlovers.com/palette/4267228
$col1-dark: rgb(41, 143, 203);   // #298fcb   dark-blue
$col1-med: rgb(70, 193, 255);    // #46c1ff   medium-blue
// $col1-med: #75bec1; // blue-grey
$col1-light: rgb(179, 231, 247); // #b3e7f7   light-blue
$col2: rgb(103, 198, 190);       // #67c6be   off-green
$col3: rgb(40, 49, 56);          // #283138   off-black

@mixin font-size($fsValue: 0.625) {
  font-size: $fsValue + px;
  font-size: ($fsValue / 10) + rem;
}